h1 {
    color: red(255, 0, 0);
    font-size: 42px;
    text-align: center;
}
h3 {
    color: red;
    font-size: 36px;
    text-align: center;
}
p {
    color: oklab(0% 0 0);
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}